/*Inventories and Items*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

/*Width of website*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.web-container {
    max-width: 1281px;
    margin: auto;
    border: 1px solid #111111;
}
    
.home-background {
    background: blueviolet;
    padding: 2em; 
    font-family: verdana;
    font-size: 1.5em; 
}

/*Navigation Bar & Burger Menu*/
.burger-menu {
    display: none;
}

.navbar {
    background-color: turquoise;
    height: 74px;
    border-bottom: black 1px solid;
    position: relative;/*added position relative*/
}

.navbar__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.navbar__item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.navbar__link {
    text-decoration: none;
    color: black;
    padding: 26px 20px;
    display: block;
    transition: .5s;
}

/*Deleted the .dropdown selector with display: inline-block; & position: relative;*/
.navbar__link:hover {
    background-color: rgba(0,0,0,0.3);
}

.navbar__link:active{
    background-color: gray;
}

.dropdown-content {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: rgba(27, 212, 20, 0.7);
    width: 206px;
    padding: 0;
    z-index: 2;
}

.navbar__item:hover .dropdown-content {
    display: block;
    box-shadow: 0 4px 8px 0;
}

.dropdown-content-list {
    display: flex; 
}

.dropdown-content-link {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    transition: .5s;
}

.dropdown-content-link:hover {
    background-color:  rgba(0,0,0,0.2);
}

.dropdown-content-link:active {
    background-color: coral;
}

/*Responsive Navbar & Burger-Menu*/

@media only screen and (max-width: 770px) {
    
    .burger-menu {
        display: flex;
        border: 1px solid rgb(255, 0, 0);
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 13px;
        bottom: 18px;
        cursor: pointer;
        background-color: red;
        border-radius: 5px;
        transition: all 0.7s ease;
    }

    .burger-menu:hover {
        background-color: (0,0,0,0.3);
        box-shadow: 0 0 0 2px black;
    }

    .burger-menu__line {
        background-color: black;
        height: 3px;
        width: 75%;
        border-radius: 6px;
        transition: all 0.7s ease;
        position: absolute;
    }

    .burger-menu__line--top {
        transform: translateY(-11px);
    }
    
    .burger-menu--opened .burger-menu__line--top {
        transform: rotate(45deg);
    }

    .burger-menu--opened .burger-menu__line--middle {
        transform: scale(0);
    }

    .burger-menu__line--bottom {
        transform: translateY(11px);
    }

    .burger-menu--opened .burger-menu__line--bottom {
        transform: rotate(-45deg);
    }

    .navbar {
        background-color: turquoise;
        position: relative;
        display: flex;
    }

    .navbar__list {
        flex-direction: column;
        width: 100%;
        background-color: inherit;
        transition: all 0.7s ease;
        position: absolute;
        top: 74px;
        z-index: 5;
    }

    .navbar-closed {
        transform: translateX(102%);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__link {
        padding: 25px 10px;
        border: 1px solid #999;
    }

    .dropdown-content {
        width: 100%;
        background-color: turquoise;
        display: block;
    }
    
    .dropdown-content-link {
        padding: 25px;
        border: 1px solid #999;
    }

}

/*Home Page*/
.home-template {
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: verdana;
}

.home-sidebar {
    background-color: #abcdef;
    text-align: center;
    font-size: 1.5em;
}

.home-page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffc600;
    padding: 5px 20px;
    grid-column: 2/4;
}

/*JS Clock*/
.clock {
    width: 15rem;
    height: 15rem;
    background-color: lightgreen;
    border-radius: 50%;
    position: relative;
    border: 5px solid orange;
  }
  
  .clock .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    font-size: 1.25rem;
  }
.clock .number1 {transform: rotate(30deg);}
.clock .number1 div {transform: rotate(-30deg);}
.clock .number2 {transform: rotate(60deg);}
.clock .number2 div {transform: rotate(-60deg);}
.clock .number3 {transform: rotate(90deg);}
.clock .number3 div {transform: rotate(-90deg);}
.clock .number4 {transform: rotate(120deg);}
.clock .number4 div {transform: rotate(-120deg);}
.clock .number5 {transform: rotate(150deg);}
.clock .number5 div {transform: rotate(-150deg);}
.clock .number6 {transform: rotate(180deg);}
.clock .number6 div {transform: rotate(-180deg);}
.clock .number7 {transform: rotate(210deg);}
.clock .number7 div {transform: rotate(-210deg);}
.clock .number8 {transform: rotate(240deg);}
.clock .number8 div {transform: rotate(-240deg);}
.clock .number9 {transform: rotate(270deg);}
.clock .number9 div {transform: rotate(-270deg);}
.clock .number10 {transform: rotate(300deg);}
.clock .number10 div {transform: rotate(-300deg);}
.clock .number11 {transform: rotate(330deg);}
.clock .number11 div {transform: rotate(-330deg);}

.clock::after {
    content:'';
    position: absolute;
    background-color: black;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    z-index: 4;
    border-radius: 50%;
}
  
.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
}
  
.clock .second-hand {
    background-color: red;
    height: 45%;
    width: 4px;
    z-index: 3;
}
    
.clock .minute-hand {
    background-color: blue;
    height: 40%;
    width: 7px;
    z-index: 2;
    border-radius: 5px 5px 0 0;
}
    
.clock .hour-hand {
    background-color: black;
    height: 35%;
    width: 10px;
    z-index: 1;
}

/*Web Dev Page -> Table of Contents*/
.content-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid black;
    width: 175px;
    margin-left: 10px;
    background-color: #ddd;
}
  
.content-heading {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
  
.content-overflow {
    height: 250px;
    overflow: scroll;
    border-top: inherit;
}
  
.content-link {
    padding-left: 10px;
    text-decoration: none;
    line-height: 50px;
    color: blue;
}

/*Article,Headings and Paragraphs*/
.main-content {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.html-sections {
    margin-left: 10px; 
    background-color: aquamarine;
    position: relative;
}

.html-code-template {
    background-color: #df631050;
    /*font-family: imported from :root selector*/
    font-family: 'PT Serif Caption', serif;
    width: 50%;
    border-left: brown 5px solid;
}

.heading {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
}

.no-style {
    list-style-type: none;
}

/*Semantic Table List*/
.semantic-table, .semantic-th, .semantic-td {
    border: 1px solid black;
    border-collapse: collapse;
}

.semantic-th, .semantic-td {
    padding: 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.semantic-th {
    background-color: #fff;
    letter-spacing: 10px;
    word-spacing: 1em;
}

.semantic-tr:nth-of-type(even){
    background-color: bisque;
}

.semantic-tr:nth-of-type(odd){
    background-color: beige;
}

/*Description List positions*/
.dl-parent {
    position: relative;
}

.dl-child2 {
    position: absolute;
    left: 400px;
    top: 8px; 
}

/*Pagination*/
.pagination {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.page-number {
    border: black solid 1px;
    padding: 8px 16px;
    background-color: #05b8ff;
    cursor: pointer;
}

.page-number a {
    text-decoration: none;
    color: #111111;
}

/*Reserved Keyword Codes*/
.reserved-keyword {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
    padding: 2px 4px;
    font-size: inherit;
}

/*About Me Profile Page w/ Grid Templates*/
/*Grid Template Wrapper*/
.profile-container {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-container h2,p { margin-left: 8px;}
    
.profile-container li {
    list-style-type: none;
    font-size: 1.25em;
}

/*Header Wrapper*/
.profile-template {
    background-color: #abcdef;
    grid-column: 1/4;
    grid-row: 1/1;
}
/*Div Wrapper*/
.profile-template-2 {
    background-color: #deca55;
    grid-column: 2/3;
    grid-row: 2/4;
}

.profile-template-2 img { 
    width: 100%;
    height: auto;
}
    
/*Aside2 Wrapper*/
.profile-template-3 {
    background-color: #05b8ff;
    grid-column: 3/4;
    grid-row: 2/6;
}
/*Aside Wrapper*/
.profile-template-4 {
    background-color: #490dec;
    grid-column: 1/2;
    grid-row: 2/6;
}
/*Section Wrapper*/
.profile-template-5 {
    background-color: #01ff01;
    grid-column: 2/3;
    grid-row: 4/6;
}

@media only screen and (max-width: 795px){

    .profile-container {
        grid-template-areas: 'header header header'
        'aside2 div div'
        'aside section section';
      }
      
      .profile-template { grid-area: header; }
      .profile-template-2 { grid-area: div; }
      .profile-template-3 { grid-area: aside2; }
      .profile-template-4 { grid-area: aside; }
      .profile-template-5 { grid-area: section; }
    
    .profile-container h2,p{
        margin-left: 2px;
    }

    .profile-container li {
        color: brown;
    }
    
}

/*Contact Form Page*/
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 15px auto;
    background-color: beige;
    padding: 10px;
    border-radius: 8px;
}

input, label, textarea {
    margin: 10px;
}

.contact-form input {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.75em;
}

.contact-form textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
}

/*Changes outline color for input:focus*/
.contact-form input:focus {
    outline: 2px solid rgb(14, 137, 238);
}

/*Posessions and Projects*/
.project-container {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
}

#searchbar_container {
    background-color: #3473fc;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#searchbar_form {
    float: right;
    background-color: white;
    border: 2px solid black;
    height: 50px;
    margin: 5px;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#searchbar_form input {
    border-radius: 10px;
    font-size: 24px;
}

.projects {
    border: 2px solid black;
    width: 275px;
    height: 275px;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.project-clickable {
    text-decoration: none;
    color: initial;
}

.project-name_container {
    border-top: inherit;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 85%;
}

.project-name_container span {
    font-family: verdana;
    padding: 10px;
}

.project-name_container span:first-child{
    border-right: 2px solid black;
}

/*Footer*/
.footer {
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}